<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
<head>
    <title>[[#{customer.list.headline}]]</title>
</head>
<body layout:fragment="content" class="bg-gray-100">

<div class="flex h-screen overflow-hidden">
    <div th:replace="~{fragments/navbar :: sidebar}"></div>
    <div class="ml-56 flex-grow p-10 overflow-y-auto" th:switch="${typePage}">
        <div th:case="'data'">
            <div th:replace="~{customer/fragments/customerData :: customerData}"></div>
        </div>
        <div th:case="'form'">
            <div th:replace="~{customer/fragments/customerForm :: customerForm}"></div>
        </div>
    </div>
</div>

<dialog class="modal" id="delete-modal">
    <div class="modal-box">
        <h3 class="font-bold text-lg">Are you sure?</h3>
        <p class="py-4">All invoices related to the customer will be deleted</p>
        <div class="modal-action">
            <form id="delete-form" method="post">
                <button class="btn btn-warning">Yes</button>
            </form>
            <form method="dialog">
                <button class="btn">Cancel</button>
            </form>
        </div>
    </div>
</dialog>

<script>
    function deleteCustomerModal(customerId) {
        var modal = document.querySelector('#delete-modal');
        var deleteForm = document.querySelector('#delete-form');
        deleteForm.setAttribute('action', '/dashboard/customers/' + customerId + '/delete');
        modal.showModal();
    }
</script>

</body>
</html>