APP_NAME=taskly-js
APP_LEVEL=development
APP_PORT=8080

MONGODB_URI=mongodb://finly-user:finly-password@localhost:27017/finly
MONGODB_TIMEOUT=20000
# PROD
# MONGODB_URI=mongodb://finly-user:finly-password@mongodb:27017/finly

AUTH_SECRET=3e2d4f7d18e362c3a9f3b876a5f4e7d13894ab5e6a839c7fd292a3b5c1fdd87e